header {
  position: fixed;
  width: 100%;
  z-index: 1000;


  nav {
    font-size: 0.9rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffffcc;

    @media screen and (min-width: 992px) {
      margin: 0 auto;
      gap: 2rem;
    }

    .pairs {
      display: flex;
      gap: 2rem;

      li {
        list-style: none;
      }
    }

    .item {
      cursor: pointer;
      text-align: center;
    }

    .icon {
      max-width: 25px;
    }
  }

  // DESKTOP STYLE

  .themes {
    font-size: 13px;
    text-align: center;
    display: flex;
    gap: 2rem;
    padding: 0;
    align-items: center;
  }

  @media screen and (max-width: 1300px) {
    .themes {
      display: none !important;
    }
    .contact {
      display: none;
    }
  }
}
